<?xml version="1.0" encoding="UTF-8"?>
<config>
  <etl>
    <!--jdbc-url>jdbc:oracle:thin:@10.39.65.118:1521:APDB</jdbc-url-->
    <!--user>test_user</user-->
    <!--password>orcl123</password-->
    <jdbc-url>jdbc:oracle:thin:@10.39.65.125:1521:ORA10G</jdbc-url>
    <user>apdb</user>
    <password>apdb</password>
    <tables>
      <tab id="1">
        <name>LOG_SEC_DCSPNCK</name>
        <field>MB_ID</field>
        <value>0</value>
      </tab>
      <tab id="2">
        <name>LOG_SEC_SCOSPRSC</name>
        <field>MB_ID</field>
        <value>0</value>
      </tab>
      <tab id="3">
        <name>LOG_SEC_LKXXB</name>
        <field>LAST_UPDATE_DATE</field>
        <value>2015-05-01 00:00:00</value>
      </tab>
      <tab id="4">
        <name>LOG_SEC_AJXXB</name>
        <field>LAST_UPDATE_DATE</field>
        <value>2015-05-01 00:00:00</value>
      </tab>
      <tab id="5">
        <name>BARCODE_RECORD</name>
        <field>ID</field>
        <value>43204307</value>
      </tab>
      <tab id="6">
        <name>APDB_PID</name>
        <field></field>
        <value></value>
      </tab>
      <!--tab id="7">
        <name>REALITY_FLIGHT_INFO<name>
        <field>OPERATION_DATE</field>
        <mode>lastmodified</mode>
        <value></value>
      </tab-->
    </tables>
    <dest-db>stagedb</dest-db>
  </etl>
</config>
